.product {
    border: 1px solid transparent;
    transition: all var(--transition-speed) linear;

    &:hover {
        border: 1px solid var(--main-color);
    }
}

.addToCart {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FFF;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 12px;
    opacity: 0;
    transition: var(--transition-speed);
}

.product:hover .addToCart {
    opacity: 1;
}

.product h4 {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}